/* sm */
@media (min-width:576px){
    body{
        background-image: url(BBB-Mobile-Home.jpg)
    }
}
/* lg */
@media (min-width:922px){
    body{
        background-image: url(BBB-Home-Desktop.jpg)
    }
}

/* xl */
@media (min-width:1200px){
    body{
        background-image: url(BBB-Home-Desktop.jpg)
    }
}

