@import url('https://fonts.googleapis.com/css?family=Raleway:100');

div{
    outline: 1px solid ellow;
}

a {
text-decoration: none;
}

body{
    background-color: #dbf8ff;
    font-family: 'Raleway', sans-serif;
    width: 100%;
        
    overflow-x: hidden;
    overflow-y: hidden;
}

.header{
    height: 150px;
    padding-bottom: 10px;
}
.Logo{
    height: 75px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
}

.PIM{
    color: #4a4b4c;
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

.quote{
    background-color: #ffffff;
    max-width: 350px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    width: auto;
    font: 10px;
}

.links a{
    color: #4a4b4c;
    text-decoration: none;
    
}

.links a:hover{
    color: #ffc6ea;
}

.frontpage{
    width: 1560px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.headerfaq{
    background-color: #ffffff;
    width: 140px;
    font-size: 60px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
}

.navfaq{
    background-color: #ffffff;
    width: 280px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
}

.navlinksfaq{
    color: #4a4b4c;
    padding: 10px;
    font: 30px;
}
   
.navlinksfaq a:hover{
    color: #ffc6ea; 
}

.question1{
    background-color: #ffffff;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px; 
    font-size: 40px;
    font-kerning: 20px;
}

.answer1{
    background-color: #ffffff;
    color: #ffc6ea;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 95px;
    width: 1130px;
}

.question2{
    background-color: #ffffff;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px; 
    font-size: 40px;
    font-kerning: 20px;
}

.answer2{
    background-color: #ffffff;
    color: #ffc6ea;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 95px;
    width: 500px;
}

.question3{
    background-color: #ffffff;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px; 
    font-size: 40px;
    font-kerning: 20px;
}

.answer3{
    background-color: #ffffff;
    color: #ffc6ea;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 95px;
    text-decoration: underline;
    width: 65px;
}

.aboutheader{
    padding: 10px;
    background: #ffffff;
    margin-left: 400px;
    margin-top: 20px;
    font-size: 40px;
    width: 220px;       
}

.aboutbanner{
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 80px;
    width: 1650px;
}

.milk{
    width: 254px;
    height: 236px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 50px;
}



    