@import url('https://fonts.googleapis.com/css?family=Raleway:100');

div{
    outline: 1px solid yellow;
}

body{
    background-color: #dbf8ff;
    font-family: 'Raleway', sans-serif; 
}

.header{
    background-color: #ffffff;
    height 95px;
    color: #3d3d3d;
    float: left;
}

.nav{
    background-color: #ffffff;
    float:left;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-left: 140px;
    font-size:50px;
    background-color: #ffffff;
}

summary{
    float: left;
    background-color: #ffffff;
    max-width: 520px;
}


.links a{
    color: #3d3d3d;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
} 

.links a:hover{
    color: #ffe0f2;
}